html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: fixed;
}

body {
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
}

canvas {
    display: block;
}

img {
    border-style: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}


/* header
------------------------------------------------------------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.banner {
    display: inline-block;
    position: fixed;
    left: calc(50% - 310px);
    padding-top: 60px;
    background-size: cover;
    width: 635px;
}


/* banner */

.banner img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 1024px) {
    .banner {
        position: fixed;
        left: calc(50% - 310px);
        padding-top: 40px;
        width: 635px;
    }
}

@media (max-width: 980px) {
    .banner {
        position: absolute;
        width: 100%;
        padding-top: 5%;
        left: 0;
        transform: translate(0, calc(60px - 10%));
    }
}


/* nav-icon */

.nav__icon-group {
    position: absolute;
    padding: 32px;
    line-height: 32px;
    z-index: 2;
}

.header .icon-btn {
    margin-left: 24px;
    text-align: center !important;
}

@media (max-width: 768px) {
    .nav__icon-group {
        padding: 25px 0px;
    }
    .header .icon-btn {
        margin-left: 0;
    }
}


/* howToPlay 
------------------------------------------------------------- */

.btn-howToPlay {
    margin-left: 24px;
    text-align: center !important;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 14px;
}

.btn-howToPlay img {
    width: 28px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}


/* guide */

.guide {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(100, 100, 100, 0.3);
    display: flex;
    justify-content: center;
}

.guide-content {
    background-color: #fff;
    margin: 3%;
    border: 2.5px solid rgb(180, 180, 180);
    background-size: cover;
    width: 75%;
    height: 80%;
}

@media (max-width: 768px) {
    .guide-content {
        width: 90%;
        height: 90%;
        margin: 0;
    }
}

.guide-content img {
    width: 100%;
}

.close {
    color: rgb(65, 65, 65);
    transform: scale(1.1);
    float: left;
    margin: 10px 20px;
    font-size: 28px;
    transition: all 0.15s ease-out;
}

.close:hover,
.close:focus {
    transform: scale(1.4);
    cursor: pointer;
}

.guide-phone {
    display: none;
}

.guide-pc {
    display: block;
    width: 100%;
}

@media (max-width: 968px) {
    .guide-phone {
        display: block;
    }
    .guide-pc {
        display: none;
    }
}


/* pre / resume / next
------------------------------------------------------------- */


/* resume */

.container {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: 240px;
    text-align: center;
    display: inline-block;
}

.btn {
    margin-left: 5%;
    margin-right: 5%;
    padding: 12px;
    width: 50px;
    height: 50px;
    border-style: none;
    border-radius: 50%;
    background-color: rgb(210, 210, 210, 0.3);
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn.resume:hover {
    -webkit-animation: spin 0.8s ease-in infinite;
    -moz-animation: spin 0.8s ease-in infinite;
    animation: spin 0.8s
}

.btn:active {
    background-color: #ffdc5e;
}

.btn img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* pre / next */

.container.upper {
    position: absolute;
    top: 50%;
    width: 100%;
    /* margin-top: -230px; */
    margin-top: 240px;
}

.upper .btn {
    display: inline-block;
}

.btn.next {
    margin-left: 65px;
}

.btn.pre {
    margin-right: 65px;
}

.upper .btn span {
    position: relative;
    display: block;
    margin-left: 1.5px;
    width: 20px;
    height: 1.5px;
    background-color: #000;
    transition: all 0.8s ease-in-out;
}

.upper .btn span:nth-child(1) {
    top: 50%;
    margin-bottom: 8px;
    transform: rotate(-30deg);
}

.upper .btn span:nth-child(2) {
    top: 50%;
    margin-top: 8px;
    transform: rotate(30deg);
}

.upper .btn span:nth-child(1) {
    top: 50%;
    margin-bottom: 8px;
    transform: rotate(-30deg);
}

.upper .btn.next span:nth-child(1) {
    transform: rotate(30deg);
    margin-left: 4px;
}

.upper .btn.next span:nth-child(2) {
    transform: rotate(-30deg);
    margin-left: 4px;
}

.upper .btn div {
    transition: all 0.3s ease-in-out;
}

.upper .btn.next:hover div {
    transform: translate(4px);
}

.upper .btn.pre:hover div {
    transform: translate(-4px);
}

.btn:active {
    background-color: #ffdc5e;
}


/*-------------------------*/


/* $footer */


/*-------------------------*/

footer {
    display: block;
    color: #000;
    text-align: center;
    padding: 4px;
    position: fixed;
    bottom: 16px;
    right: 20px;
}

@media (max-width: 768px) {
    footer {
        padding: 0 4px;
        font-size: 12px;
    }
}


/*-------------------------*/


/* $Icons 
---------------------------*/


/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */


/* FONT PATH
 * -------------------------- */

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(65, 65, 65);
}

.fa-send-o:before,
.fa-paper-plane-o:before {
    content: "\f1d9";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-question:before {
    content: "\f128";
}

.fa-question-circle-o:before {
    content: "\f29c";
}

.fa-question-circle:before {
    content: "\f059";
}